#swiper-portfolio .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

#swiper-portfolio.swiper-container {
  height: auto;

  padding-top: 10vh;
  padding-bottom: 10vh;
}
