#swiper-1 .swiper-slide {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: flex-start;
}

#swiper-1 .swiper-pagination {
  bottom: 20px;
}

#swiper-1.swiper-container {
  height: auto;
}

@media (min-width: 1024px) {
  #swiper-1 .swiper-slide {
    width: 33.3333%;
    align-items: center;
  }

  #swiper-1.swiper-container {
    height: auto;
  }
}
